body{
    background: linear-gradient(
        to right,
        #E7FEFF 0%,
        #E7FEFF 20%,
        #FFFAFA 20%,
        #FFFAFA 100%
      );
    color: #222831;
}

body a{
    text-decoration: none;
    color: #222831;
}

.lists p{
    margin-bottom: 0px;
}

.lists li{
    margin-bottom: 16px;
}

.lists span{
    float: right;
    margin-right: 10%;
}

.col-3{
    background: #E7FEFF;
    background: -moz-linear-gradient(left, #E7FEFF 0%, #E7FEFF 95%, #FFFAFA 100%);
    background: -webkit-linear-gradient(left, #E7FEFF 0%, #E7FEFF 95%, #FFFAFA 100%);
    background: linear-gradient(to right, #E7FEFF 0%, #E7FEFF 95%, #FFFAFA 100%);
}

#name-about{
    color: #00ADB5;
    text-align: justify;
}

#name-about h5{
    color: #222831;
    margin-right: 40%;
}

#profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-container img{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 150px;
    border-radius: 50%;
}

.acordion-item-header{
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.acordion-item-header::after{
    content: "\25BE";
    transition: transform 0.5s ease-in-out;
}

.acordion-item-header.active::after{
    transform: rotate(180deg);
}

.acordion-item-body{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

#contact .acordion-item-header i{
    margin: 0 5% 7.5% 5%;
    float: right;
}

#contact .acordion-item-header::after{
    content: "";
}

.acordion [class*="fa-pull-left"] {
    margin-top: -5px;
}

[class*="fa-xl"] {
    margin-top: 1.75%;
}

@media(max-width:1000px) {
    html{
        font-size: 9px;
    }

    #profile-container img{
        width: 100px;
    }
}

@media(max-width:767px) {
    html{
        font-size: 7px;
    }
    #profile-container img{
        width: 75px;
    }
}

@media(max-width:365px) {
    html{
        font-size: 5px;
    } 

    #profile-container img{
        width: 50px;
    }
}